	body {
  			background-image: url('https://media.istockphoto.com/id/518275718/vector/seamless-vector-pattern-of-the-tourist-icons.jpg?s=612x612&w=0&k=20&c=WCuqkIPgKSkJhS98KmtMB4FGOwpyM16GbJu6SptoNLc=');
		}
	p {
            margin: 0 auto;
            padding: 20px;
        }
        h3 {
          text-align: center
        }
